
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h5>Plan: @ViewBag.v1</h5>
    <h5>Kişi Sayısı: @ViewBag.v2</h5>
    <h5>Fiyat: @ViewBag.v3</h5>
    <h5>İçerik: @ViewBag.v4</h5>
    <h5>Çözünürlük: @ViewBag.v5</h5>
</div>
